html {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    margin: 0;
}

header {
    background: green;
    color: white;
    text-align: center;
    height: 30px;
    padding: 10px;
    font-size: 26px;
}
footer {
    background: black;
    color: white;
    text-align: center;
    height: 20px;
    padding: 5px;
}

.MainWrapper {
    position: relative;
    margin: 0 auto;
    max-width: 800px;
    min-height: calc(100vh - 50px - 30px);
}

.SideElement{
    position: absolute;
    top: 0;
    left: 0;
    background: red;
    max-width: 140px;
    height: calc(100% - 40px - 20px);
    padding: 30px 20px 30px 40px;
}
.SideElement a {
    color:white;
    display: inline-block;
    margin-bottom: 1em;
}
.SideElement a:hover {
    background: green;
}

.MainElement {
    display: inline-block;
    margin-left: 200px;
    padding: 30px;
    max-width: calc(100% - 260px);
    line-height: 1.35em;
}
.MainElement::first-letter {
    color: red;
    font-size: large;
}
.MainElement::selection {
    background: green;
    color:white;
}